

@world_map_pic: '/img/world_map.jpg';

body {
	background-image: url(@world_map_pic);
	background-size: cover;

}


header
{
  	height: 1em;
	width: 100%;

	text-align: center;

	
	margin-right:auto;
	
	margin-left:auto;

	font-family:oldStyleFont;
	font-size:4.5em;
	color:silver;
	text-shadow: 1px 1px blue;

	background-color:transparent;
}

#start
{
	text-align: center;
	position: relative;
	left: 25em;
	top: 10em;
}

#continue
{
	text-align: center;
	position: relative;
	left: 14em;
	top: 12em;
}

#help
{
	text-align: center;
	position: relative;
	left: 2em;
	top: 14em;
}
